/*h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}*/

body {
	margin: 0;
}

body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
    background-color: #5D585E;
    border-radius: 10px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}